<!DOCTYPE html>
<html>

<head>
  <title>Popup Controls</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f0f0f0;
      margin: 0;
      padding: 20px;
    }

    h2 {
      color: #444;
    }

    button {
      padding: 10px 15px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #218838;
    }
  </style>
</head>

<body>
  <h2>Archery timer controls</h2>
  <button onclick="window.opener.startTimer()">Start</button>
  <button onclick="window.opener.stopTimer()">Stop</button>
  <button onclick="window.opener.showMenu(); window.close()">Close</button>
  <button onclick="openSettings()">Settings</button>
  <div id="settings-modal-container"></div>
</body>
<script>
  function openSettings() {
    document.getElementById("settings-modal-container").innerHTML += window.opener.settingsModalHTML;
    document.getElementById("set-live-time").value = window.opener.set_live_time;
    document.getElementById("set-warning-time").value = window.opener.set_warning_time;
    document.getElementById("set-standby-time").value = window.opener.set_standby_time;
    document.getElementById("set-double-detail").checked = window.opener.set_double_detail;
  }
  function saveSettings() {
    const livetime = document.getElementById("set-live-time").value;
    const warntime = document.getElementById("set-warning-time").value;
    const standbytime = document.getElementById("set-standby-time").value;
    const doubledetail = document.getElementById("set-double-detail").checked;
    let status = window.opener.saveSettingsFR(parseInt(livetime), parseInt(warntime), parseInt(standbytime), doubledetail);
    if (status !== true) alert("invalid settings");
    else document.getElementById("settings-modal").remove();
  }
</script>

</html>
