<!DOCTYPE html>
<html>

<head>
  <title>Popup Controls</title>
  <style></style>
</head>

<body>
  <h2>Archery timer controls</h2>
  <br><br>
  <div id="timer-controls">
    <button id="btnStart">Start</button>
    <button id="btnStop" hidden>Stop</button>
    <button onclick="window.opener.showMenu(); window.close()">Close</button>
    <button onclick="openSettings()">Settings</button>
  </div>
  <div id="settings-modal-container"></div>
</body>
<script>
  const btnStart = document.getElementById("btnStart");
  const btnStop = document.getElementById("btnStop");
  btnStart.onclick = function startTimer() {
    btnStart.hidden = true;
    btnStop.hidden = false;
    window.opener.startTimer();
  }
  btnStop.onclick = function stopTimer() {
    btnStart.hidden = false;
    btnStop.hidden = true;
    window.opener.stopTimer();
  }
  function openSettings() {
    document.getElementById("settings-modal-container").innerHTML += window.opener.settingsModalHTML;
    document.getElementById("set-live-time").value = window.opener.set_live_time;
    document.getElementById("set-warning-time").value = window.opener.set_warning_time;
    document.getElementById("set-standby-time").value = window.opener.set_standby_time;
    document.getElementById("set-double-detail").checked = window.opener.set_double_detail;
  }
  function saveSettings() {
    const livetime = document.getElementById("set-live-time").value;
    const warntime = document.getElementById("set-warning-time").value;
    const standbytime = document.getElementById("set-standby-time").value;
    const doubledetail = document.getElementById("set-double-detail").checked;
    let status = window.opener.saveSettingsFR(parseInt(livetime), parseInt(warntime), parseInt(standbytime), doubledetail);
    if (status !== true) alert("invalid settings");
    else document.getElementById("settings-modal").remove();
  }

</script>

</html>
